body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p{
	font-size: 1.6rem;
	line-height: 1.6;
	margin-bottom: 2.4rem;
}

.active{
	color: green;
}


/* Start of Header ........................................................................................................................................*/

.header-top{
	overflow: hidden;
}

.header-top .Language{ 
	float:right;
	margin:1% 1% 0% 0%;
	font-family: sans-serif;
	font-size: 1em;
	font-weight:bold; 
}

.header-top .Language button{
	border:none;
	background: transparent;
}


.header-main{
	overflow: hidden;
	background-color: white;
	position: fixed;
  	top: 2;
  	width: 100%;
}


.navbar-brand {
	font-family: cursive;
	text-decoration-color: yellow;
	color: yellow;

}
.header-main-navbar{
	overflow: hidden;
	font-family: sans-serif;
	font-size: 1.2em;
	font-weight: 900;

}

.search-box{
		top: 35%;
		left: 40%;
		transform: translate(0%,-10%);
		height: 55px;
		border-radius: 20px;
		border-color: black;
		padding: 10px;
}
.search-txt{
	height: 35px;
	border-radius: 20px;
	border-color: transparent;
	padding: 8px;
}
.search-btn{
	float: right;
	margin-top: 0;
	transition: 0.4s;
}

.navbar-nav li{
	margin-left: 5px;
	margin-top: 2%;
}

.navbar-nav .log-in{
	margin-left: 60px
}

.log-in button{
	border-radius: 20px;
	border-color: transparent;	
	margin-left: 20px
	
}
button:hover{
	color: green;
	background-color:#F5F5F5;
	color: #00;
}
/* End of header ...........................................................................................................................................*/


/* Start of headline*/

.headline img{
	width:100%;
	height: auto;
	opacity: 0;
	animation: scale 1s forwards;
}

.sub-headline {
	font-size: 5rem;
	font-family: cursive;
	color:green;
	font-weight: 100;
	letter-spacing: 2px;
	opacity: 0;
	animation: fadeUp .5s forwards;
	animation-delay: .5s
}
.first-letter{
	text-transform: uppercase;
	font-size: 6.3rem
}


.container{
	width: 100%;
	max-width: 122.5rem;
	margin: 0 auto;
	padding:0 2.4rem;

}

.body{
	width: 100%;
	height: 100vh;
	background: url("homepage_BG.png") center no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	text-align: center;
}

.single-animation{
	opacity: 0;
	animation: fadeDown .5s forwards;
	animation-delay: 1.5s
}

.headline-description {
	color: white;
	font-size: 3.7rem;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: .5rem;
	margin-right:-.5rem;
	opacity: 0;
	animation: fadeUp 2s forwards;
	animation-delay: .9s;
}
/* End of headline*/
/* Start of Behind story of dumangan*/
.global-headline{
	text-align: center;
	margin-top: 6.9rem;
}

.behind-story-dumangan .global-headline{
	margin-top: 5rem;

}
.headline{
	margin-right: -.7rem;
	opacity: 0;
	animation: scale 1s forwards;
}

.global-headline .sub-headline{
	letter-spacing: -.1px;
	line-height: .42;

}

.dumangan-info{
	text-align: center;
	justify-content: center;
}


.dumangan-description{
	margin-bottom: 3rem;
}
.dumangan-description p{
	opacity: 0;
	animation: fadeUp 2s forwards;
	animation-delay: .9s;
}



/* End of Behind story of dumangan*/

/* Start of Behind story of website*/
.behind-story-website{
	background: url("homepage_BG_3.png") center no-repeat;
	background-size: cover;
	min-height: 65vh;
	display: flex;
	align-items: center;
	text-align: center;
	
}
.behind-story-website h1{
	font-size: 1rem;
	color: white;
}

/* End of Behind story of website*/


/* Start of products */
.image-group{
	padding-top: 2rem;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 1.5rem;
}

.image-group img{
	width: 100%;
	max-width: 100%;
}
.product-description p{
	font-size: 1em;
	display: flex;
	align-items: center;
	text-align: center;
		opacity: 0;
	animation: fadeUp 2s forwards;
	animation-delay: .9s;
}


/* End of products */
/* Start of Footer */
footer{
	padding:7.9rem 0;
	height: 30vh;
	background-color: #121212;
	color: #fff;
	position: relative; 
}

.footer-content h4{
	font-weight: 100;
	letter-spacing: 3px;
	text-align: center;
	align-items: center;
}
/* End of Footer */

@media screen and (min-width: 900px){
	section{
		padding: 2rem;
	}
	.headline img{
		width: 40%;
	}
	.dumangan-info{
		display: flex;
		align-items: center;
		padding-top: 0;
	}
	.product-info{
		display: flex;
		align-items: center;
	}
	.dumangan-info > div{
		flex: 1;
	}
	.product-info > div{
		flex: 1;
	}

	.padding-right{
		padding-right: 7rem;
	}

}

/* Animations */
@keyframes fadeUp{
	0%{
		transform: translateY(4rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale{
	0%{
	transform: scale(2);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes fadeDown{
	0%{
		transform: translateY(-1rem);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}






